@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

header h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 2em;
}

.photographer_section article h3 {
    font-size: 0.72em;
    font-weight: 400;
}

.photographer_section article .subtitle {
    font-size: 0.6em;
}

.img--rounded {
    height: 11em;
    width: 11em;
    border-radius: 100%;
    object-fit: cover;
}

.photographer__link {
    text-align: center;
    text-decoration: none;
}
/*** Margins ***/
.mtb-sm {
    margin: 8px 0;
}

.mtb-md {
    margin: 16px 0;
}

/*** Text size ***/
.text-sm {
    font-size: 0.55em;
}

/*** Text align ***/
.text--align {
    text-align: center;
}

/*** Theme color ***/
.color-primary {
    color: #D3573C;
}

.color-secondary {
    color: #901C1C;
}

.color-tiers {
    color: #757575;
}